#                                 #
#                                 #
#   Wacom Tablet Configurations   #
#                                 #
#                                 #


#
# Wacom CTL-470 (Wacom drivers installed)
#
HIDTablet 0x056a 0x00dd 0xFF00 0x000A
Name "Wacom CTL-470 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 14720
MaxY 9200
MaxPressure 1023
Width 147.2
Height 92.0
TabletFormat WacomDrivers


#
# Wacom CTL-470 
#
HIDTablet 0x056a 0x00dd 0x0D 0x01
Name "Wacom CTL-470"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 14720
MaxY 9200
MaxPressure 1023
Width 147.2
Height 92.0
InitFeature 0x02 0x02


#
# Wacom CTH-470 (Wacom drivers installed)
#
HIDTablet 0x056a 0x00de 0xFF00 0x000A
Name "Wacom CTH-470 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 14720
MaxY 9200
MaxPressure 1023
Width 147.2
Height 92.0
TabletFormat WacomDrivers


#
# Wacom CTH-470
#
HIDTablet 0x056a 0x00de 0x0D 0x01
Name "Wacom CTH-470"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 14720
MaxY 9200
MaxPressure 1023
Width 147.2
Height 92.0
InitFeature 0x02 0x02


#
# Wacom CTH-670 (Wacom drivers installed)
#
HIDTablet 0x056a 0x00df 0xFF00 0x000A
Name "Wacom CTH-670 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 21648
MaxY 13700
MaxPressure 1023
Width 216.48
Height 137.0
TabletFormat WacomDrivers


#
# Wacom CTH-670
#
HIDTablet 0x056a 0x00df 0x0D 0x01
Name "Wacom CTH-670"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 21648
MaxY 13700
MaxPressure 1023
Width 216.48
Height 137.0
InitFeature 0x02 0x02


#
# Wacom CTL-471 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0300 0xFF00 0x000A
Name "Wacom CTL-471 (Wacom drivers installed)"
GetString 1 20
ReportLength 11
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.00
Height 95.00
TabletFormat WacomDrivers


#
# Wacom CTL-471
#
HIDTablet 0x056a 0x0300 0xFF0D 0x01
Name "Wacom CTL-471"
ReportLength 10
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.00
Height 95.00
InitFeature 0x02 0x02


#
# Wacom CTL-671 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0301 0xFF00 0x000A
Name "Wacom CTL-671 (Wacom drivers installed)"
ReportLength 11
DetectMask 0x40
MaxX 21648
MaxY 13530
MaxPressure 1023
Width 216.48
Height 135.30
TabletFormat WacomDrivers


#
# Wacom CTL-671
#
HIDTablet 0x056a 0x0301 0xFF0D 0x01
Name "Wacom CTL-671"
ReportLength 10
DetectMask 0x40
MaxX 21648
MaxY 13530
MaxPressure 1023
Width 216.48
Height 135.30
InitFeature 0x02 0x02


#
# Wacom CTL-472 (Wacom drivers installed)
#
HIDTablet 0x056a 0x037a 0xFF00 0x000A
Name "Wacom CTL-472 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 2047
Width 152.0
Height 95.0
TabletFormat WacomDrivers


#
# Wacom CTL-472
#
HIDTablet 0x056a 0x037a 0xFF0D 0x0001
Name "Wacom CTL-472"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 2047
Width 152.0
Height 95.0
InitFeature 0x02 0x02


#
# Wacom CTL-672 (Wacom drivers installed)
#
HIDTablet 0x056a 0x037b 0xFF00 0x000A
Name "Wacom CTL-672 (Wacom drivers installed)"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.00
Height 135.00
TabletFormat WacomDrivers


#
# Wacom CTL-672
#
HIDTablet 0x056a 0x037b 0xFF0D 0x0001
Name "Wacom CTL-672"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.00
Height 135.00
InitFeature 0x02 0x02


#
# Wacom CTL-480 (Wacom drivers installed)
#
HIDTablet 0x056a 0x030e 0xFF00 0x000A
Name "Wacom CTL-480 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.0
Height 95.0
TabletFormat WacomDrivers


#
# Wacom CTL-480
#
HIDTablet 0x056a 0x030e 0xFF0D 0x0001
Name "Wacom CTL-480"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.0
Height 95.0
InitFeature 0x02 0x02
AuxHID 0x056a 0x030e 0xFF00 0x0080
AuxReportId 0x02
AuxReportLength 64
AuxDetectMask 0x80
AuxIgnoreMask 0x81
AuxCustomData ReportId Source=0
AuxCustomData ButtonsLow Source=3 SourceMask=0x0F
AuxCustomData Detect Source=2
AuxButtonCount 4


#
# Wacom CTH-480 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0302 0xFF00 0x000A
Name "Wacom CTH-480 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.0
Height 95.0
TabletFormat WacomDrivers
AuxHID 0x056a 0x0302 0xFF00 0x000B
AuxReportId 0x01
AuxReportLength 64
AuxDetectMask 0x80
AuxIgnoreMask 0x81
AuxCustomData ReportId Source=1
AuxCustomData ButtonsLow Source=3 SourceMask=0x0F
AuxCustomData Detect Source=2
AuxButtonCount 4


#
# Wacom CTH-480
#
HIDTablet 0x056a 0x0302 0xFF0D 0x0001
Name "Wacom CTH-480"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 15200
MaxY 9500
MaxPressure 1023
Width 152.0
Height 95.0
InitFeature 0x02 0x02
SetFeature 0x03 0x01
AuxHID 0x056a 0x0302 0xFF00 0x0080
AuxReportId 0x02
AuxReportLength 64
AuxDetectMask 0x80
AuxIgnoreMask 0x81
AuxCustomData ReportId Source=0
AuxCustomData ButtonsLow Source=3 SourceMask=0x0F
AuxCustomData Detect Source=2
AuxButtonCount 4


#
# Wacom CTL-680 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0323 0xFF00 0x000A
Name "Wacom CTL-680"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 1023
Width 216.0
Height 135.0
TabletFormat WacomDrivers


#
# Wacom CTL-680
#
HIDTablet 0x056a 0x0323 0xFF0D 0x0001
Name "Wacom CTL-680"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 1023
Width 216.0
Height 135.0
InitFeature 0x02 0x02


#
# Wacom CTH-680 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0303 0xFF00 0x000A
Name "Wacom CTH-680 (Wacom drivers installed)"
ReportId 0x02
ReportLength 11
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 1023
Width 216.0
Height 135.0
TabletFormat WacomDrivers


#
# Wacom CTH-680
#
HIDTablet 0x056a 0x0303 0xFF0D 0x0001
Name "Wacom CTH-680"
ReportId 0x02
ReportLength 10
DetectMask 0x40
MaxX 21600
MaxY 13500
MaxPressure 1023
Width 216.0
Height 135.0
InitFeature 0x02 0x02


#
# Wacom CTL-490 (Wacom drivers installed)
#
HIDTablet 0x056a 0x033b 0xFF00 0x000A
Name "Wacom CTL-490 (Wacom drivers installed)"
ReportId 0x10
ReportLength 11
DetectMask 0xA0
MaxX 15200
MaxY 9500
MaxPressure 2047
KeepTipDown 2
Width 152.0
Height 95.0
TabletFormat WacomIntuosV2
AuxHID 0x056a 0x033b 0xFF00 0x000B
AuxReportId 0x01
AuxReportLength 64
AuxDetectMask 0x80
AuxIgnoreMask 0x81
AuxCustomData ReportId Source=1
AuxCustomData ButtonsLow Source=3 SourceMask=0x0F
AuxCustomData Detect Source=2
AuxButtonCount 4


#
# Wacom CTL-490
#
HIDTablet 0x056a 0x033b 0xFF0D 0x0001
Name "Wacom CTL-490"
ReportId 0x10
ReportLength 10
DetectMask 0xA0
MaxX 15200
MaxY 9500
MaxPressure 2047
KeepTipDown 2
Width 152.0
Height 95.0
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2
AuxHID 0x056a 0x033b 0xFF00 0x0080
AuxReportId 0x02
AuxReportLength 64
AuxDetectMask 0x80
AuxIgnoreMask 0x81
AuxCustomData ReportId Source=0
AuxCustomData ButtonsLow Source=3 SourceMask=0x0F
AuxCustomData Detect Source=2
AuxButtonCount 4


#
# Wacom CTH-490 (Wacom drivers installed)
#
HIDTablet 0x056a 0x033c 0xFF00 0x000A
Name "Wacom CTH-490 (Wacom drivers installed)"
ReportId 0x10
ReportLength 11
DetectMask 0xA0
MaxX 15200
MaxY 9500
MaxPressure 2047
KeepTipDown 2
Width 152.0
Height 95.0
TabletFormat WacomIntuosV2


#
# Wacom CTH-490
#
HIDTablet 0x056a 0x033c 0xFF0D 0x0001
Name "Wacom CTH-490"
ReportId 0x10
ReportLength 10
DetectMask 0xA0
MaxX 15200
MaxY 9500
MaxPressure 2047
KeepTipDown 2
Width 152.0
Height 95.0
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2


#
# Wacom CTL-690 (Wacom drivers installed)
#
HIDTablet 0x056A 0x033D 0xFF00 0x000A
Name "Wacom CTL-690 (Wacom drivers installed)"
ReportId 0x10
ReportLength 11
DetectMask 0xA0
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.000
Height 135.000
KeepTipDown 2
TabletFormat WacomIntuosV2


#
# Wacom CTL-690
#
HIDTablet 0x056A 0x033D 0xFF0D 0x0001
Name "Wacom CTL-690"
ReportId 0x10
ReportLength 10
DetectMask 0xA0
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.000
Height 135.000
KeepTipDown 2
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2


#
# Wacom CTH-690 (Wacom drivers installed)
#
HIDTablet 0x056A 0x033E 0xFF00 0x000A
Name "Wacom CTH-690"
ReportId 0x10
ReportLength 11
DetectMask 0xA0
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.000
Height 135.000
KeepTipDown 2
TabletFormat WacomIntuosV2


#
# Wacom CTH-690
#
HIDTablet 0x056A 0x033E 0xFF0D 0x0001
Name "Wacom CTH-690"
ReportId 0x10
ReportLength 10
DetectMask 0xA0
MaxX 21600
MaxY 13500
MaxPressure 2047
Width 216.000
Height 135.000
KeepTipDown 2
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2


#
# Wacom CTL-4100 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0376 0xFF00 0x000A
HIDTablet 0x056a 0x0374 0xFF00 0x000A
Name "Wacom CTL-4100 (Wacom drivers installed)"
ReportId 0x10
ReportLength 193
DetectMask 0x20
MaxX 15200
MaxY 9500
MaxPressure 4095
Width 152.0
Height 95.0
TabletFormat WacomIntuosV3
AuxReportId 0x11
AuxReportLength 193
AuxCustomData ReportId Source=1
AuxCustomData ButtonsLow Source=2 SourceMask=0x0F
AuxButtonCount 4


#
# Wacom CTL-4100
#
HIDTablet 0x056a 0x0376 0xFF0D 0x0001
HIDTablet 0x056a 0x0374 0xFF0D 0x0001
Name "Wacom CTL-4100"
ReportId 0x10
ReportLength 192
DetectMask 0x20
MaxX 15200
MaxY 9500
MaxPressure 4095
Width 152.0
Height 95.0
TabletFormat WacomIntuosV3
#AuxHID 0x056a 0x0376 0xFF0D 0x0001
#AuxHID 0x056a 0x0374 0xFF0D 0x0001
AuxReportId 0x11
AuxReportLength 192
AuxCustomData ReportId Source=0
AuxCustomData ButtonsLow Source=1 SourceMask=0x0F
AuxButtonCount 4


#
# Wacom CTL-4100 Bluetooth
#
HIDTablet 0x056a 0x0377 0xFF0D 0x0001
Name "Wacom CTL-4100 Bluetooth (Experimental)"
ReportId 0x81
ReportLength 361
DetectMask 0xE0
MaxX 15200
MaxY 9500
MaxPressure 4095
Width 152.0
Height 95.0


#
# Wacom CTL-6100 (Wacom drivers installed)
#
HIDTablet 0x056a 0x0375 0xFF00 0x000A
HIDTablet 0x056a 0x0378 0xFF00 0x000A
Name "Wacom CTL-6100 (Wacom drivers installed)"
ReportId 0x10
ReportLength 193
DetectMask 0x20
MaxX 21600
MaxY 13500
MaxPressure 4095
Width 216.0
Height 135.0
TabletFormat WacomIntuosV3
AuxReportId 0x11
AuxReportLength 193
AuxCustomData ReportId Source=1
AuxCustomData ButtonsLow Source=2 SourceMask=0x0F
AuxButtonCount 4


#
# Wacom CTL-6100
#
HIDTablet 0x056a 0x0375 0xFF0D 0x0001
HIDTablet 0x056a 0x0378 0xFF0D 0x0001
Name "Wacom CTL-6100"
ReportId 0x10
ReportLength 192
DetectMask 0x20
MaxX 21600
MaxY 13500
MaxPressure 4095
Width 216.0
Height 135.0
TabletFormat WacomIntuosV3
AuxReportId 0x11
AuxReportLength 192
AuxCustomData ReportId Source=0
AuxCustomData ButtonsLow Source=1 SourceMask=0x0F
AuxButtonCount 4


#
# Wacom PTH-451 ???
#
HIDTablet 0x056a 0x0314 0xFF0D 0x01
Name "Wacom PTH-451"
ReportLength 10
DetectMask 0xE0
MaxX 31496
MaxY 19685
MaxPressure 2047
Width 157.0
Height 98.0
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2


#
# Wacom PTH-850
#
HIDTablet 0x056A 0x0028 0x00D 0x0001
Name "Wacom PTH-850"
ReportLength 10
DetectMask 0xE0
MaxX 65024
MaxY 40640
MaxPressure 2047
Width 325.120
Height 203.200
InitFeature 0x02 0x02
TabletFormat WacomIntuosV2


#
# Wacom PTH-660 (USB) (Wacom drivers installed)
#
HIDTablet 0x056A 0x0357 0xFF00 0x000A
Name "Wacom PTH-660 (Wacom drivers installed)"
ReportId 0x10
ReportLength 193
DetectMask 0x40
MaxX 44800
MaxY 29600
MaxPressure 8191
Width 226.0
Height 150.0
TabletFormat WacomIntuosV3


#
# Wacom PTH-660 (USB)
#
HIDTablet 0x056A 0x0357 0xFF0D 0x0001
Name "Wacom PTH-660"
ReportId 0x10
ReportLength 192
DetectMask 0x40
MaxX 44800
MaxY 29600
MaxPressure 8191
Width 226.0
Height 150.0
TabletFormat WacomIntuosV3


#
# Wacom PTH-660 (Bluetooth)
#
HIDTablet 0x056a 0x0360 0xFF0D 0x0001
Name "Wacom PTH-660 Bluetooth (Experimental)"
ReportLength 361
DetectMask 0xE0
MaxX 44800
MaxY 29600
MaxPressure 8191
Width 226.0
Height 150.0

#
# Wacom CTE-440 (Graphite4 4x5)
#
HIDTablet 0x056A 0x0015 0xFF0D 0x0001
HIDTablet 0x056A 0x0015 0x000D 0x0001
Name "Wacom CTE-440"
ReportLength 9
DetectMask 0x00
MaxX 10208
MaxY 7424
MaxPressure 511
Width 102.08
Height 74.24
InitFeature 0x02 0x02